.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);;
}

.navbar-inverse ul.navbar-nav .dropdown-menu a{
	color: black;
	background-color: White;
}
dropdown-toggle a:hover{
	background-color: transparent;
}
.dropdown-menu{
	background-color: White;
}
.navbar-inverse ul.navbar-nav .dropdown-menu a:hover { 
	color: #f56e33; 
	border: 0; }
.navbar-inverse ul.navbar-nav .dropdown-menu a:focus { 
	color: #f56e33; 
	outline: 0; 
	border: 0; }

.demo-video{
    margin: 30px;
}
